/* Réinitialisation globale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Évite le scroll horizontal */
}

#root {
  min-height: 100vh;
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh; /* Assure la hauteur complète */
}